:root {
	--primary: #d7be03;
	--secondary: #0a1f44;
	--primary-invert: #fff;
	--secondary-invert: #fff;

	--gradient-primary: linear-gradient(230deg, #dec71a, #d2ba09);
	--gradient-secondary: linear-gradient(230deg, #0a1f44, #020024);

	/* DEFAULT COLOR OF TEXTS */
	--text-primary: #393404;

	/* FOR BUTTONS & INPUTS */
	--elements-roundness: 10rem;

	--space-between-blocks: 5.3rem;
	/* for mobiles */
	--space-between-blocks-small-screens: 3rem;
}

body {
	font-family: 'Bitter', sans-serif;
	color: var(--text-primary);
}

.space-between-blocks {
	padding-top: var(--space-between-blocks-small-screens);
	padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
	.space-between-blocks {
		padding-top: var(--space-between-blocks);
		padding-bottom: var(--space-between-blocks);
	}
}
