h1 {
	font-family: 'Beth Ellen', serif;
	font-size: 2em;
}

h5 {
	font-family: 'Beth Ellen', serif;
	font-size: 1.5em;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}

.btn {
	font-family: 'Montserrat', serif;
}

.nav-item {
	font-family: 'Montserrat', serif;
}

.cicada-logo {
	height: 100px;
}

.portfolio-image {
	max-width: 100%;
	height: auto;
}

.social-icon {
	color: black;
}

.social-link  {
  color: black;
}

.footer-text {
	font-family: 'Beth Ellen', serif;
	font-size: 1.4em;
}

.fa-envelope {
  display: inline;
}

.fa-instagram {
  display: inline;
}
