h1 {
	font-family: 'Beth Ellen', serif;
	font-size: 2em;
}

.nav-item {
	font-family: 'Montserrat', serif;
}

.cicada-logo {
	height: 100px;
}

.portfolio-image {
	max-width: 100%;
	height: auto;
}

.social-icon {
	color: black;
}
